---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>

        <br />
        Some of the tools i use:
      </p>
      <ul class="list-disc list-inside">
        <li>Java 7 - 17</li>
        <li>Spring Boot - Web - Data</li>
        <li>JSP - JSF - Servlet</li>
        <li>HTML - CSS - Javascript</li>
        <li>Astro - React</li>
        <li>Oracle - PostgreSQL</li>
        <li>Docker - WebSphere - Liberty</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about travel, music production, and gaming. 
      I create audio tracks with FL Studio and have some experience in C# and Python, which I used to develop a backend for a GPT model.
      Additionally, I have a degree in Computer Engineering.
    </p>
    <p class="text-sm font-light">
      I love learning about new technologies and enjoy healthy competition, always setting new goals to challenge myself.
    </p>
  </div>
</Card>
