---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
    <p class="text-xs">
      © 2024 · Created by <a
      href="https://github.com/Daniele4299"
      target="_blank"
      class="text-red-500">Daniele</a> with <a
        href="https://astro.build/"
        target="_blank"
        class="text-red-500">Astro</a>. 
      Template by <a
      href="https://github.com/Ladvace"
      target="_blank"
      class="text-red-500">Gianmarco</a>. 
    </p>
  </Card>