---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex flex-col justify-between w-full h-full">
    <div class="flex justify-between items-start mb-2">
      <div class="flex flex-col">
        <h2>Now</h2>
      </div>
      <Pulse />
    </div>
    <p class="text-xs">Currently working as a Software Developer for 
      <a href="https://dxc.com/" target="_blank" class="text-red-500">DXC Technology</a>
    </p>
    <div class="mt-auto">
      <a href="https://dxc.com/" target="_blank">
        <img src="/dxc-logo.png" alt="DXC Logo" class="w-16 h-auto mt-2" />
      </a>
    </div>
  </div>
</Card>

