---
import Card from "./Card/index.astro";
import Globe from "../components/Globe";
---

<Card
colSpan="md:col-span-1"
rowSpan="md:row-span-1"
title="Countries I visited"
href="travel"
colorText="text-neutral-900"
>
  <div class="h-full w-full absolute inset-0 -z-10">
    <Globe client:load />
  </div>
</Card>